@media only screen and (max-width: 900px) {
    .menu_nav {
        margin-right: 20px;
    }
    .menu_nav p {
        // padding: 35px 0;
        margin: 0 15px;
      }
      
    h4 {
        margin-left: 20px;
    }

    //btn Open your shop
    .btn_center {
        width: 50%;
    }
    .main_part {
        height: 55vw;
    }
    //section1:
    h2 {
        font-size: 30px;
    }
    .sales_platform_list li {
        padding: 10px 10px 0;
        margin: 20px 30px;
    }
    //section2:
    .section2_list {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // border: 1px solid blue;
        width: 70vw;
        height: 80vw;
    }
    .section2_img1 {
        margin: 0;
    }
    .el_first::after {
        top: 70%;
    }
    .el_third::after {
        bottom: 0px;
        top: 50vw;
        left: 15vw;
        height: 30vw;
        width: 40vw;
    }
    .section2 div,
    .el_third div {
        height: 270px;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        border: none;
    } 
    h3 {
        font-size: 28px;
        line-height: 38px;
        margin: 20px 0;
    }
    .text2 {
        font-size: 14px;
        text-align: left;
    }
    //section3, prices:
    .pricing_h2 {
        font-size: 35px;
    }
    .section3 {
        flex-wrap: wrap;
    }
    //section4, contact:
    .section4 {
        flex-direction: column;
        margin-left: 10vw;
    }
    form {
        margin-top: 10px;
        width: 80vw;
    }
    form button {
        align-self: center;
    }
    //footer
    footer p {
        margin: 0 15px 15px;
    }
  }
  
@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu.wider {
        height: 120px;
    }
    .menu_nav p {
        padding: 15px 0;
        margin: 0 10px
    }
    .ham-span {
        display: flex;
    }
    .menu_nav {
        display: none;
    }
    .menu_nav.active {
        display: flex;
    }
    // hamburger crossing:
    .span-cross:first-child {
        top: 15px;
        transform: rotate(135deg);
    }
    .span-cross:nth-child(2) {
        opacity: 0;
    }
    .span-cross:last-child {
        top: 15px;
        transform: rotate(-135deg);
    }
    //main part:
    .main_part {
        height: 65vw;
    }
    h1 {
        font-size: 35px;
    }
    .text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 15px;
        text-align: center;
    }
    //btn Open your shop
    .btn_center {
        width: 60%;
    }
    //background picture
    .main-part {
        background-size: contain;
    }
    //section1:
    h2 {
        font-size: 25px;
        padding: 60px 0;
    }
    .sales_platform_list {
        height: 55vh;
        flex-wrap: wrap;
    }
    .sales_platform_list li {
        margin: 20px 10px;
    }
    //section2:
    .section2_list {
        height: 60vh;
        width: 80vw;
    }
    .el_first::after {
        top: 80%;
        right: 20%;
    }
    .el_third::after {
        top: 40vh;
        height: 20vh;
    }
    h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .text2 {
        font-size: 12px;
        text-align: left;
    }
    .underline {
        margin-top: 10px;
    }

    .section2 div,
    .el_third div {
        height: 270px;
        width: 65vw;
        justify-content: space-evenly;
    }
    //section3:
    .pricing_h2 {
        font-size: 30px;
    }
    //section4:
    .section4 {
        margin-left: 5vw;
    }
    .section4 h1~p {
        text-align: left;
    }
    .section4_mid_div {
        flex-wrap: wrap;
    }
    form {
        width: 90vw;
    }
    input[type=text], input[type=email] {
        width: 85vw;
    }
    label[for=checkbox] {
        font-size: 10px;
        line-height: 13px;
    }
    //footer
    .footer_pics {
        display: flex;
        flex-wrap: wrap;
    }
    .footer_pic {
        padding: 8px;
      }
}
